# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [5]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import os

# File to Load (Remember to change these)
city_data_to_load = os.path.join("Resources", "city_data.csv")
ride_data_to_load = os.path.join("Resources", "ride_data.csv")

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [9]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [56]:
#  1. Get the total rides for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_ride_df = urban_cities_df.groupby(['city'])[["ride_id"]].count()

#Suburban
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_ride_df = suburban_cities_df.groupby(['city'])[["ride_id"]].count()

#Rural
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_ride_df = rural_cities_df.groupby(['city'])[["ride_id"]].count()
urban_ride_df['ride_id']

city
Amandaburgh            18
Barajasview            22
Carriemouth            27
Christopherfurt        27
Deanville              19
                       ..
West Patrickchester    16
West Robert            31
West Samuelburgh       25
Williamsstad           23
Williamsview           20
Name: ride_id, Length: 66, dtype: int64

In [59]:
# 2. Get the total drivers for each city type
#Urban Total Drivers
urban_driver_df = urban_cities_df.groupby(['city'])[["driver_count"]].sum()
urban_driver_df.rename(columns={"driver_count": "Total Drivers"})
#Suburban
suburban_driver_df = suburban_cities_df.groupby(['city'])[["driver_count"]].sum()

#Rural
rural_driver_df = rural_cities_df.groupby(['city'])[["driver_count"]].sum()
urban_driver_df['driver_count']

city
Amandaburgh             216
Barajasview             572
Carriemouth            1404
Christopherfurt        1107
Deanville               931
                       ...
West Patrickchester     400
West Robert            1209
West Samuelburgh       1825
Williamsstad           1357
Williamsview            920
Name: driver_count, Length: 66, dtype: int64

In [58]:
#  3. Get the total amount of fares for each city type
urban_total_fare_df = urban_cities_df.groupby(['city'])[["fare"]].sum()
urban_total_fare_df.rename(columns={"fare":"Total Fares"})
suburban_total_fare_df = suburban_cities_df.groupby(['city'])[["fare"]].sum()
rural_total_fare_df = rural_cities_df.groupby(['city'])[["fare"]].sum()
urban_total_fare_df['fare']

city
Amandaburgh            443.55
Barajasview            557.31
Carriemouth            764.49
Christopherfurt        661.55
Deanville              491.01
                        ...
West Patrickchester    451.73
West Robert            778.84
West Samuelburgh       544.19
Williamsstad           560.33
Williamsview           531.98
Name: fare, Length: 66, dtype: float64

In [46]:
#  4. Get the average fare per ride for each city type. 
urban_ride_df = urban_cities_df.groupby(['city'])[["ride_id"]].count()
urban_ride_fare_series = urban_total_fare_df['fare'].div(urban_ride_df['ride_id'], axis=0).round(2)
#urban_ride_fare_df.rename(columns={" ":"Avg Fare per Ride"})
urban_ride_fare_series

city
Amandaburgh            24.64
Barajasview            25.33
Carriemouth            28.31
Christopherfurt        24.50
Deanville              25.84
                       ...
West Patrickchester    28.23
West Robert            25.12
West Samuelburgh       21.77
Williamsstad           24.36
Williamsview           26.60
Length: 66, dtype: float64

In [38]:
# 5. Get the average fare per driver for each city type. 
urban_total_fare_df['fare'].div(urban_driver_df['driver_count']).round(2)
urban_total_fare_df

city
Amandaburgh            2.05
Barajasview            0.97
Carriemouth            0.54
Christopherfurt        0.60
Deanville              0.53
                       ...
West Patrickchester    1.13
West Robert            0.64
West Samuelburgh       0.30
Williamsstad           0.41
Williamsview           0.58
Length: 66, dtype: float64

In [70]:
urban_summary_df = pd.DataFrame({
    "Total Rides": urban_ride_df,
    "Total Drivers": urban_driver_df})

urban_summary_df

ValueError: If using all scalar values, you must pass an index

In [68]:
#  6. Create a PyBer summary DataFrame. 
urban_summary_df = pd.concat([urban_ride_df['ride_id'],urban_driver_df['driver_count'],urban_total_fare_df['fare']], axis=1)
urban_summary_df

                     ride_id  driver_count    fare
city
Amandaburgh               18           216  443.55
Barajasview               22           572  557.31
Carriemouth               27          1404  764.49
Christopherfurt           27          1107  661.55
Deanville                 19           931  491.01
...                      ...           ...     ...
West Patrickchester       16           400  451.73
West Robert               31          1209  778.84
West Samuelburgh          25          1825  544.19
Williamsstad              23          1357  560.33
Williamsview              20           920  531.98

[66 rows x 3 columns]

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')